@charset "UTF-8";
.form-container {
    background: #191970;
    border: black 3px solid;
    padding: 20px;
    border-radius: 2px;
	width: 90%;
	margin-top: 100px;
    margin-bottom:  100px;
    margin-right: auto;
    margin-left:  auto;	
}

body{
    margin: 0;
	background-color: #151B54;
}

.btn-submit {
    padding: 10px 60px;
    background: #1589FF;
    border: #8c8880 1px solid;
    color: #151B54;
    font-size: 0.9em;
    border-radius: 8px;
    cursor: pointer;
}

.delete, .update {
    padding: 5px 10px;
    background: #1589FF;
    border: #8c8880 1px solid;
    color: #151B54;
    font-size: 0.9em;
    border-radius: 8px;
    cursor: pointer;
}