<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>views/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/views/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/views/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>servlet.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/views/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/views/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmp</display-name>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>servlet.AddEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/views/AddEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmp</display-name>
    <servlet-name>CheckEmp</servlet-name>
    <servlet-class>servlet.CheckEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmp</servlet-name>
    <url-pattern>/views/CheckEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmpD</display-name>
    <servlet-name>CheckEmpD</servlet-name>
    <servlet-class>servlet.CheckEmpD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmpD</servlet-name>
    <url-pattern>/views/CheckEmpD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>servlet.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/views/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStock</display-name>
    <servlet-name>AddStock</servlet-name>
    <servlet-class>servlet.AddStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStock</servlet-name>
    <url-pattern>/views/AddStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMed</display-name>
    <servlet-name>CheckMed</servlet-name>
    <servlet-class>servlet.CheckMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMed</servlet-name>
    <url-pattern>/views/CheckMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStock</display-name>
    <servlet-name>RemoveStock</servlet-name>
    <servlet-class>servlet.RemoveStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStock</servlet-name>
    <url-pattern>/views/RemoveStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEmp</display-name>
    <servlet-name>RemoveEmp</servlet-name>
    <servlet-class>servlet.RemoveEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEmp</servlet-name>
    <url-pattern>/views/RemoveEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMedU</display-name>
    <servlet-name>CheckMedU</servlet-name>
    <servlet-class>servlet.CheckMedU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMedU</servlet-name>
    <url-pattern>/views/CheckMedU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMed</display-name>
    <servlet-name>UpdateMed</servlet-name>
    <servlet-class>servlet.UpdateMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMed</servlet-name>
    <url-pattern>/views/UpdateMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckWard</display-name>
    <servlet-name>CheckWard</servlet-name>
    <servlet-class>servlet.CheckWard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckWard</servlet-name>
    <url-pattern>/views/CheckWard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInPatient</display-name>
    <servlet-name>AddInPatient</servlet-name>
    <servlet-class>servlet.AddInPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInPatient</servlet-name>
    <url-pattern>/views/AddInPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckInPatientU</display-name>
    <servlet-name>CheckInPatientU</servlet-name>
    <servlet-class>servlet.CheckInPatientU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInPatientU</servlet-name>
    <url-pattern>/views/CheckInPatientU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInPatient</display-name>
    <servlet-name>UpdateInPatient</servlet-name>
    <servlet-class>servlet.UpdateInPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInPatient</servlet-name>
    <url-pattern>/views/UpdateInPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>servlet.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/views/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointment</display-name>
    <servlet-name>UpdateAppointment</servlet-name>
    <servlet-class>servlet.UpdateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointment</servlet-name>
    <url-pattern>/views/UpdateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientServlet</display-name>
    <servlet-name>DeletePatientServlet</servlet-name>
    <servlet-class>servlet.DeletePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientServlet</servlet-name>
    <url-pattern>/views/DeletePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReport</display-name>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>servlet.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/views/AddReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReport</display-name>
    <servlet-name>UpdateReport</servlet-name>
    <servlet-class>servlet.UpdateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReport</servlet-name>
    <url-pattern>/views/UpdateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSurgeon</display-name>
    <servlet-name>AddSurgeon</servlet-name>
    <servlet-class>servlet.AddSurgeon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSurgeon</servlet-name>
    <url-pattern>/views/AddSurgeon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSysAdmin</display-name>
    <servlet-name>AddSysAdmin</servlet-name>
    <servlet-class>servlet.AddSysAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSysAdmin</servlet-name>
    <url-pattern>/views/AddSysAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCard</display-name>
    <servlet-name>AddCard</servlet-name>
    <servlet-class>servlet.AddCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCard</servlet-name>
    <url-pattern>/views/AddCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCard</display-name>
    <servlet-name>UpdateCard</servlet-name>
    <servlet-class>servlet.UpdateCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCard</servlet-name>
    <url-pattern>/views/UpdateCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCard</display-name>
    <servlet-name>DeleteCard</servlet-name>
    <servlet-class>servlet.DeleteCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCard</servlet-name>
    <url-pattern>/views/DeleteCard</url-pattern>
  </servlet-mapping>
</web-app>